language: python
sudo: false
cache: pip

matrix:
  include:
    - os: linux
      python: 3.6
      language: python

install:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install pyqt5 pytest pyinstaller

script:
  - python3 -m pytest -vv test_kalkulacka/
  - pyinstaller __main__.py -n kalkulacka-app
      --exclude-module tkinter
      --add-data kalkulacka:kalkulacka
      -F -w

deploy:
    provider: releases
    api_key:
        secure: pFWq1ZPpYR9KYpOzUH5R6IypJE7ldiMGbrw8dnR8w11zsuMWCva1k9MYpbVFgNEijnYPhlfzEUAN61QrF6YWW+egGzTDvAgEnxpYPqHaDoRqSdk4pvCscie1MjpzVI6uVZySvf8khKtlx7bQ+yGk/zl63QibcJYEBgx+uAUkX9XPt4m9PJH5ShpVuePOpNBnQ7fmujjRPvQQ0CqwjAZf7iekyv6gGz3EPgznTP82fvGx7pTWugpXJlQl7p992IX2JK6JrrmMpspwOy/vWijdxMmIXnkW5l14eknvAApsHhxPjsVguei0eNZq6l3iYJUmtGd/HCky5Q8VzCQc9P5LUtCkErUIsuVyPaOt87wUAiTN2fDwJjoz0czn+vh6EC2yUkFVRjOfVZTG326VHsnji4VR7I1+WoIUWte8e0WZJZNLVrQdlz8ACMJj62gfFuFyfKgTxOe3av9UJC2dze4DWwQSrWLP1VFP5wq4bjk/IfHELOjbAP6CtHcnOE5A2jZI3RLcMspadN5cQriIZVXptSwl3tfYRHovglnT2GXAGGsuCexBGXqkSxfVjXybLjkmmb0OrrqlWZ4hiBzuHSI/cvWGQyUO0zfnaDdmSxWyMM7Fo5F/B1pfUR16Rgwi8Tqa8QavxIF8WvlIRKtXlYMJ8rafncKD339CoVwl8+GHwCc=
    file_glob: true
    file: dist/*
    skip_cleanup: true
    on:
        tags: true
